:root{
    --font: 'Nunito';
    --fontColor:#e0f2fe;
    --borderColor:#0284c7;
    --backgroundLight:#0c4a6e;
    --backgroundLightLight:#075985;
    --backgroundDark:#082f49;
}
body{
    cursor: default;
    font-family: var(--font);
    margin: 0;
    background-color: var(--backgroundDark);
}
.title{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    color: var(--fontColor);
    font-size: 5rem;
}
.turn{
    display: flex;
    justify-content: center;
    color: var(--fontColor);
    font-size: 2em;
    padding:1rem;
}
.p1{
    display: inline;
    background-color: var(--backgroundLight);
    border-radius: 2em 0em 0em 2em;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.p2{
    display: inline;
    background-color: var(--backgroundLight);
    border-radius: 0em 2em 2em 0em;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.activeTurn{
    background-color: var(--borderColor);
}
.board{
    display: grid;
    height: auto;
    padding: 2em 0;
    justify-content: center;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    background-color: var(--backgroundLight);
}

.blur{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24%;
    width: 100%;
    height: calc(450px + 4em);
    background: rgba(255,255,255,.1);
}

.popmessage{
    border-radius: 1em;
    padding: 2em 3em;
    background-color: #e0f2fe;
}

.squere{
    font-family: var(--font);
    border: 3px solid var(--borderColor);
    background-color: var(--backgroundLight);
    color: var(--fontColor);
    font-size: 7rem;
}
.squere:hover{
    background-color: var(--backgroundLightLight);
    cursor: pointer;
}
.b-top{
    border-top: 0;
}
.b-bot{
    border-bottom: 0;
}
.b-left{
    border-left: 0;
}
.b-right{
    border-right: 0;
}